{% extends 'base.html' %}
{% block styles %}
<style>
    body {
        background-image: url("{{ url_for('static', filename='banners/default-bg.jpg') }}");
    }
</style>
{% endblock %}
{% block content %}

<div class="register-container">
    <div class="card p-4 shadow-lg" style="width: 100%; max-width: 450px;">
        <h3 class="text-center mb-4">Register</h3>
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
                {% for error in form.name.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control") }}
                {% for error in form.confirm_password.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>



            <div class="d-grid">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>

        <p class="mt-3 text-center">Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>
    </div>
</div>
{% endblock %}